body {
    font-family:Arial,Helvetica,Verdana,sans-serif;
    font-size:14px;
    color:#666666;
    margin:0px;
    padding:0px;
}
a:link, a:visited, a:active{
    text-decoration:none;
    color:#5377AC;
}
a:hover{
    text-decoration:underline;
}
#loginWrapper {
    margin:60px auto 0px auto;
    max-width:548px;
    position:relative;
    background-color:#fff;
    border:1px solid #8c8c8c;
}
.loginWrapperContentArea{
    padding:20px 20px;
}
.loginWrapperContentArea h3{
    font-size:14px;
    padding:0px;
    margin:0px;
    padding-bottom:10px;
}
.loginWrapperContentArea h3 span{
    color:#000;
    font-weight:bold;
}
.loginSpacing{
    padding:6px 70px;
    line-height:20px;
    color:#000;
}
.inputGeneral350{
    height:20px;
    line-height:20px;
    padding-left:5px;
    width:350px;
    font-size:12px;
    color:#666;
    }
.inputGeneral300{
    height:20px;
    line-height:20px;
    padding-left:5px;
    width:274px;
    font-size:12px;
    color:#666;
    }
.registerArea{
    padding:10px 50px 20px 20px;
}
.registerArea span{
    color:#575757;
    font-size:13px;
}
.registerArea b{
    color:#484848;
}
.btnGreen{
    background-color:#81c72e;
    height:26px;
    line-height:26px;
    padding:0px 15px 0px 15px;
    *padding:0px 10px 0px 10px;
    border:0px solid #81c72e;
    color:#ffffff;
    cursor:pointer
}
.btnGray{
    background-color:#575757;
    height:26px;
    line-height:26px;
    padding:0px 15px 0px 15px;
    *padding:0px 10px 0px 10px;
    border:0px solid #575757;
    color:#ffffff;
    cursor:pointer
}
.errorArea{
    color:#F00;
}
td.noteSection{
    padding:10px 30px;
    font-style:italic;
    font-size:11px;
}
